@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --primary-color: #fffbf5;
    --secundary-color: #00425A;
    --bg-color: #f55050;
}

body {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 300;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
    font-weight: 200;
}

h3 {
    font-size: 3em;
    margin-top: 20px;
    font-weight: 100;
}

.mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 20px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

button {
    padding: 8px 15px;
    border: 0;
    background: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}